
.seccton_info {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.seccton_info 

.seccton_info table {
    min-width: 400px;
    border: 10px;
}

.seccton_info table tr th  {
    border-radius: 5px;
    background-color: #2b3142 ;
    padding: 5px;
}

.seccton_info table tr td {
    border-radius: 5px;
    background-color: #1d212b ;
    padding: 5px;
    text-align: center;
}

.grafica_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.grafica_content > img {
    border-radius: 10px;
}