/* App-wide styling */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body,html {
    
    background-color: #0f1116;
    color: #ffffff;
    width: 100%;    

}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding-top: 80px;
    position: relative;
}

.header {
    width: 100%;
    height: 80px;
    top: 0px;
    background-color: #1d212b;
    margin-bottom: 20px;
    position: fixed;
    z-index: 10;
    
    animation-name: header-blur;
    animation-timeline: scroll();   /* ← NUEVO */
    animation-duration: 1s;         /* se usa como “longitud base” */
    animation-fill-mode: both;
}

/* Cómo cambia el blur según el progreso del scroll */
@keyframes header-blur {
  0% {
    backdrop-filter: blur(0px);
  }
  30% {
    backdrop-filter: blur(0px);   /* hasta 30% de scroll, sin blur */

  }
  100% {
    backdrop-filter: blur(12px);  /* luego va subiendo hasta 12px */
    background-color: #1d212b63;
  }
}

.header nav {
    width: 100%;
    height: 100%;
}

.header ul {
    width: 100%;
    height: 100%;
    display:  flex;
    justify-content: space-around;
    align-items: center;

}

.header ul li {
    display: flex;
    list-style: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    justify-content: center;
    transition: all 500ms ease;
}

.header ul li:hover {
    transform: translate(-2, -2);
}

.header ul li > .material-icons  {
    align-self: center;
    position: absolute;
    left: -30px;
    top: 5px;
}



