.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.inputs_seccton {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.group_input {
    display: flex;
    flex-direction: column;
    gap: 5px;
}



.group_input > input {
    width: 200px;
    border:  solid 1px #2b3142;
    padding: 5px;
    border-radius: 10px;
    padding-left: 12px;
    background-color: #2b3142;
    font-size: 16px;
    color: #ffffff;
    transition:  all 500ms ease;
}

.group_radio {
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.group_radio > label {
    width: 200px;
}

.group_input > input:focus {
    outline: none;
    border:  solid 1px #ffffff;

}

.group_radio  > section {
    display: flex;
    gap:  20px;
}

.radio {
    display:  flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
}


.radio_input {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #ffffff;
    transition: all 500ms ease;
}

.span_click {
    background-color: #2b3142 ;
    box-shadow: 0px 0px 10px 0px #909bba;
    transform: scale(1.2);
}

.span_no_click {
    background-color: #ffffff ;
}

.btn_guardar {
    border: none;
    width: 200px;
    padding: 5px;
    border-radius: 10px;
    background-color: #184fe7;
    color: white;
    cursor: pointer;
    transition: all 500ms ease;
    margin-top: 10px;
    font-size: 16px;
    position: relative;
}

.btn_guardar:hover {
    background-color: #1039aa;
    box-shadow: 4px 4px 4px 0px #2b3142;
    transform: translate(-5, -5);
}


.btn_guardar >.material-icons  {
    position: absolute;
    align-self: center;
    left: 10px;
}   