.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.inputs_seccton {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.group_input {
    display: flex;
    flex-direction: column;
    gap: 5px;
}



.group_input > input {
    width: 200px;
    border:  solid 1px #2b3142;
    padding: 5px;
    border-radius: 10px;
    padding-left: 12px;
    background-color: #2b3142;
    font-size: 16px;
    color: #ffffff;
}

.group_radio {
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.group_input > input:focus {
    outline: none;
    border:  solid 1px #ffffff;

}

.group_radio  > section {
    display: flex;
    gap:  20px;
}

.radio {
    display:  flex;
    align-items: center;
    gap: 10px;
}


.radio_input {

    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #ffffff;
}

.span_click {
    background-color: #2b3142 ;
}

.span_no_click {
    background-color: #ffffff ;
}