/* App-wide styling */


body {
    display: flex;
    flex-direction: column;
    background-color: #0f1116;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 80px;
    background-color: #1d212b;
}

.header ul {
    width: 100%;
    height: 100%;
    display:  flex;
    justify-content: space-around;
}


.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.group_input {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.group_input > input {
    width: 200px;
}

